{
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-unused-vars": [1, {"vars": "all", "args": "none"}],
    "no-console": [ 0 ],
    "comma-dangle": [ 0 ],
    "eqeqeq": "error",
    "require-yield": "off"
  },
}
